.main-banner {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em($large-screen) !default;
  $banner-background-top: #7F99BE;
  $banner-background-bottom: #20392B;
  $banner-color: white;
  $gradient-angle: 10deg;
  $banner-image: '../img/banner/banner-01.jpg';

  @include background(url($banner-image), linear-gradient($gradient-angle, $banner-background-bottom, $banner-background-top), no-repeat $banner-background-top scroll);
  background-color: #324766;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //padding-bottom: 3em;

  .banner-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 12em 0 5em;
    text-align: center;

    @include media($large-screen) {
      min-height: 440px;
    }

    .banner-message {
      text-align: center;

      h1 {
        color: $banner-color;
        font-size: 1.6em;
        font-weight: 300;
        margin-top: 2em;
        margin-bottom: 0.5em;
        text-align: left;
        text-shadow: 1px 1.75px 2px rgba( 92, 92, 92, 0.84);

        @include media($large-screen) {
          font-size: 2.3em;
          letter-spacing: .6px;
          max-width: 45%;
        }
      }

      p {
        color: $banner-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
