.main-banner {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em($large-screen) !default;
  $banner-background-top: #7F99BE;
  $banner-background-bottom: #20392B;
  $banner-color: white;
  $gradient-angle: 10deg;
  $banner-image: '../img/banner/banner-01.jpg';

  @include background(url($banner-image), linear-gradient($gradient-angle, $banner-background-bottom, $banner-background-top), no-repeat $banner-background-top scroll);
  background-color: #324766;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .banner-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 12em 0 5em;
    text-align: center;

    @media (min-width: $large-screen) {
      min-height: 440px;
    }

    @media (max-width: $large-screen) {
      min-height: 320px;
    }

    .banner-message {
      text-align: center;

      h1 {
        color: $banner-color;
        font-weight: 300;
        letter-spacing: 0.05em;
        margin-top: 2em;
        margin-bottom: 0.5em;
        text-align: left;
        text-shadow: 1px 1.75px 2px rgba( 92, 92, 92, 0.84);

        @media (min-width: $large-screen) {
          font-size: em(40);
          max-width: 50%;
        }

        @media (max-width: $large-screen) {
          text-align: center;
          font-size: em(30);
          padding: 0 1em;
        }
      }
    }
  }
}
