.main-maps {
  background-color: $core-primary-body-background-color;
}

.maps-wrapper {
  @include clearfix;
  @include outer-container;
  @include pad(1.5em 0 default);
}


.map-content {
  @include span-columns(6);

  h3 {
    font-size: em(26);
    font-weight: 300;
    margin-top: 0;
  }

  p {
    .number {
      padding-right: 0.6em;
    }
  }

  .map-canvas iframe {
    width: 95%;
    height: 260px;
  }

  @media (max-width: $medium-screen) {
    @include span-columns(12);
  }
}
