.nav-social-wrapper {
  @include clearfix;

  background-color: $core-primary-color;
  width: 100%;
  height: 50px;

  ul li {
    list-style: none;
    padding-right: 1em;
  }

  @media (max-width: $medium-screen) {
    display: none;
  }
}

.nav-social-content {
  @include clearfix;
  @include outer-container;
}

.nav-social-content-phone,
.nav-social-content-network {
  margin: 0;
  padding: 0;

  li {
    float: left;
    display: inline;
  }
}

.nav-social-content-phone {
  @media (max-width: $large-screen) {
    padding-left: em(20);
  }
}

.nav-social-content-network {
  @media (max-width: $large-screen) {
    padding-right: em(20);
  }
}

.nav-social-content-network {
  float: right;
}

.phone-local {
  margin-top: 10px;
  float: left;
}

.phone-local .phone__title {
  float: left;
  max-width: 80px;
  margin-right: 10px;
  text-align: right;
  color: #fed061;
  font-size: em(13);
}

.phone-local .phone__number {
  float: left;
  color: white;
  font-size: em(17);
  margin: 3px 10px 0 0;
}

.social-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
}

.social-icon__facebook {
  background: url("../img/ico-facebook.svg") no-repeat 50% 50%;
}

.social-icon__instagram {
  background-color: #fff;
  background: url("../img/ico-instagram.svg") no-repeat 50% 50%;
}
