html, body, main {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: $core-primary-body-background-color;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}
