////////////////////////////////////////////////////////////////////////////////
//  Breakpoints
////////////////////////////////////////////////////////////////////////////////

$small-screen: em(479);
$medium-screen: em(767);
$large-screen: em(991);
$xlarge-screen: em(1200);
