////////////////////////////////////////////////////////////////////////////////
//  Typography
////////////////////////////////////////////////////////////////////////////////

$core-font-size: 14px;
$core-line-height: 20px;
$core-font-stack: 'Montserrat', sans-serif;

////////////////////////////////////////////////////////////////////////////////
//  Colors
////////////////////////////////////////////////////////////////////////////////

$core-font-color: #5c6164;
$core-primary-color: #088cf1;
$core-primary-body-background-color: #ffffff;
$core-secondary-body-background-color: #f0f6fb;
