////////////////////////////////////////////////////////////////////////////////
//  Grid
////////////////////////////////////////////////////////////////////////////////

$core-columns-quantity: 12;
$core-column-width: 65px;
$core-column-gutter-width: 20px;

////////////////////////////////////////////////////////////////////////////////
//  Typography
////////////////////////////////////////////////////////////////////////////////

$core-font-size: 14px;
$core-line-height: 20px;
$core-font-stack: 'Montserrat', sans-serif;

////////////////////////////////////////////////////////////////////////////////
//  Colors
////////////////////////////////////////////////////////////////////////////////

$core-font-color: #5c6164;
$core-primary-color: #088cf1;
$core-body-background-color: #999;
